{
    "extends": "dhis2",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "class-methods-use-this": ["warn"]
    }
}
