# ignore everything to avoid committing build artifacts
**/*

# unignore files that should be committed
!CHANGELOG.md
!LICENSE
!README.md
!jsdoc.json
!package.json
!src/
!tutorials/
!webpack.config.dev.js
!webpack.config.prod.js
!yarn.lock
!.babelrc
!.browserslistrc
!.dependabot/
!.editorconfig
!.eslintrc.js
!.github/
!.gitignore
!.huskyrc.js
!.npmignore
!.prettierrc.js
