language: node_js
node_js:
    - 10
before_script:
    - npm install --global @dhis2/deploy-build
script:
    - npm run commit:check
    - npm run js:check
    - npm run coverage
    - npm run build
    - npm run documentation
deploy:
    - provider: script
      script: deploy-build
      skip_cleanup: true
      on:
        all_branches: true
    - provider: script
      script: publish-build
      skip_cleanup: true
      on:
        tags: true
env:
  global:
    - secure: fA9xRQxlM6IfhBVhZ8D/GBjXXxhTkWxCe1vJ4PFVkedZbFlmk9PbRw4lJlwFfBVqsfo5ppDPZI5mOK3bzt1ZvZDFAgn/ootvC108mFFO1iua+bBLFDqP4IQty4MBnyaCGci4dPS4rCVjcozh17TqQTNBU6ZTZ2PBnePSUXN6NQA=
    - secure: aowqAKPl+PJ2vcRy1r4aqNGEizbPvtYj9GyBbzEO3GFVD+VxHk9vuFOxlOYcwrIhWpsib+V5FpTDkUzYhP4FXV7ox2S83CVkGd7hP/fuyrmLPiRr0CmTlD1qyecLhVakDGa8HC32R1vU2+HetX+lqgUZkvVpL8qUqBnmC0+3DW0=
