h3.docs-function-name,
h3.docs-property-name,
.docs-parameter-name {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

h3.docs-function-name,
h3.docs-property-name {
    font-size: 1.2rem;
}

.docs-parameter-name {

}

.doc-extends-class {

}

.doc-extends-class,
.doc-module-name {
    padding-bottom: .8rem;
    font-weight: bold;

}

.doc-extends-class:before,
.doc-module-name:before {
    content: 'from';
    padding-right: .8rem;
    padding-bottom: .8rem;
    color: rgba(255,255,255, .8);
}

.doc-extends-class:before {
    content: 'extends';
}

.docs-function-inherited,
.docs-function-static {
    padding: 3px 9px;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
    font-size: 0.8rem;
    line-height: 1rem;
    vertical-align: middle;
    margin-left: .5rem;
}

.docs-function-static {
    background: rgba(0, 0, 255, 0.5);
}

.docs-function-inherited {
    background: rgba(0, 255, 0, 0.5);
}

.docs-function-returns h4 {
    font-size: 1rem;
    margin-top: 2rem
}

.docs-function-exceptions ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.docs-function-exceptions li {
    list-style: none;
    margin-bottom: .8rem;
}

.md-sidenav-left {
    min-height: 100px;
}

.md-sidenav-left h3 {
    padding-left: .5em;
}

.menu-icon {
    font-size: 1.5rem;
}

body {
    overflow: hidden;
}

.docs-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.docs-button-toggle {
    background-color: #E6E6E6;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}

.docs-button-toggle i {
    line-height: 40px;
    float: right;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}

.docs-button-toggle.docs-button-active,
.docs-button-toggle.md-button.md-default-theme:not([disabled]):hover,
.docs-button-toggle.md-button.md-default-theme:not([disabled]):focus, {
    background-color: #C2C2C2;
}

.menu-section .menu-section-items {
    background-color: #f6f6f6;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-duration: 0.75s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: initial;
    transition-property: max-height;
    max-height: 1300px;
}

.menu-section .menu-section-items.menu-section-items-hidden {
    max-height: 0
}

.menu-section li a {
    text-transform: none;
}

.menu-section li.active a {
    color: #03a9f4;
}

.menu-section ul {
    margin: 0;
    padding: 0;
}

.content-header {
    padding-left: 15px;
    padding-bottom: 2rem;
}

.content-block {
    margin: 0 auto;
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.type-hint {
    color: white;
    background-color: #808080;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 3px 6px;
    font-size: .8em;
    border-radius: .3rem;
    font-weight: bold;
}

.type-hint-string {
    background-color: lightgreen;
}

.type-hint-number,
.type-hint-integer,
.type-hint-float {
    background-color: cornflowerblue;
}

.type-hint-object {
    background-color: #800080;
}

.type-hint-model,
.type-hint-modelbase,
.type-hint-modelvalidation,
.type-hint-modelcollection,
.type-hint-modeldefinition,
.type-hint-modeldefinitions,
.type-hint-pager {
    background-color: orange;
}

.type-hint-error {
    background-color: red;
}

code {
    font-size: 1rem;
}

.md-tile-content p {
    font-size: .9rem;
}
